
body {
	margin: 0;
	padding: 0;
}


h1 {
		font-family: 'Raleway', sans-serif;
		text-align: center;
		font-size: 1.75em;
}

h2 {
		font-family: 'Raleway', sans-serif;
		text-align: center;
		font-size: 1.25em;
}


p {
	font-family: 'Raleway', sans-serif;
		text-align: left;
		clear: both;
		font-size: 1em;
}

.box {
background-color: lightgrey;
border: 1px solid;
}

.title_class {
width: 50%;
top: -20px;
right : -20px;
position: relative;
float: right;
border: 1px solid;
}

#title1 {
	background-color: lightblue;

}

#title2 {
	background-color: pink;
		}

#title3 {
	background-color: lightgreen;
	
}


@media (min-width: 992px){

.box {
width: 29%;
margin: 20px;
float:left;
padding: 20px;
box-sizing: border-box;
height: 300px;
}


.title_class {
width: 50%;
top: -20px;
right : -20px;
position: relative;
float: right;
}
}


@media (min-width: 768px) and (max-width: 991px){

.box_tab {
width: 44%;
height: 200px;
float: left;
padding: 20px;
box-sizing: border-box;
margin: 20px;


}

.box_tab2 {
	width: 93%;
	box-sizing: border-box;
margin: 20px;
}

.title_class2 {
	width: 25%;
}

}

@media (max-width: 767px){
.box {
padding: 20px;
height: 200px;
box-sizing: border-box;
margin-bottom: 40px;
}

}